<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/all.min.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <title>أنشاء حساب متطوع</title>
</head>
<body class="bg-light">
    <div class="container">       
        <h4 class="my-4 fw-bold">تعديل الملف الشخصي</h4>
    
        
        <form action="/volunteer/profile/update" method="post" enctype="multipart/form-data">
            <div class="row mt-3 ">
                <div class="col-6 mb-2 ">
                    <div class="bg-white rounded mb-3 p-3">
                        <h5 class="h-text-primary-dark fw-bold">معلومات شخصية</h5>
                        <div class="mb-3">
                            <label for="" class="form-label h-text-17 fw-bold">أسم المؤسسة  (الجهه):</label>
                            <input  type="text" maxlength="50" value="<%- data.fullName %>" required class="form-control form-control-sm h-text-15 rounded-pill" name="fullName"/>
                        </div>
                    </div>
                    <div class="bg-white rounded p-3">
                        <h5 class="h-text-primary-dark fw-bold">صورة المؤسسة وغلاف الملف الشخصي</h5>
                        <div class="mb-3">
                            <label for="" class="form-label h-text-17 fw-bold"> تغيير الصورة:</label>
                            <input  type="file" class="form-control form-control-sm h-text-15 rounded-pill" name="newAvatar"/>
                            <input type="hidden" name="avatar" value="<%- data.avatar %>">
                        </div>
                        <div class="mb-3">
                            <label for="" class="form-label h-text-17 fw-bold"> تغيير الغلاف:</label>
                            <input  type="file"   class="form-control form-control-sm h-text-15  rounded-pill" name="newCoverProfileImage" />
                            <input type="hidden" name="coverProfileImage" value="<%- data.coverProfileImage %>">

                        </div>
                        <div class="mb-3">
                            <label for="" class="form-label h-text-17 fw-bold"> الوصف:</label>
                            <textarea class="form-control rounded-4 h-text-17" name="description" id="" rows="3" placeholder="زود ملفك الشخصي بمعلومات عنك ..."><%- data.description %></textarea>  
                        </div>
                    </div>      
                    <div>
                        <button type="submit" class="btn h-btn-primary rounded-pill px-4 h-bg-primary-dark my-4 text-white">
                            حفظ
                        </button>
                    </div>          
                </div>
                <div class="col-6 mb-2 ">
                    <div class="bg-white rounded mb-2 p-3">
                        <h5 class="h-text-primary-dark fw-bold">المدينة و التاريخ</h5>
                        <div class="mb-3">
                            <label for="" class="form-label fw-bold h-text-17">
                                المدينة:
                            </label>
                            <select class="form-select form-select-sm rounded-pill h-text-17" name="city" id="">
                                <option value="<%- data.city %>" disabled selected><%- data.city %></option>
                                <option value="المكلا">المكلا</option>
                                <option value="سيؤون">سيؤون</option>
                                <option value="غيل باوزير">غيل باوزير</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="" class="form-label h-text-17 fw-bold">تاريخ الميلاد:</label>
                            <input  type="date" maxlength="255" value="<%- data.birthDate.toISOString().split("T")[0] %>" class="form-control form-control-sm h-text-15  rounded-pill" name="birthDate" placeholder="حضرموت-المكلا-الديس-جانب مستشفئ البرج"/>
                        </div>
                    </div>
                    <div class="bg-white rounded p-3">
                        <h5 class="h-text-primary-dark fw-bold">التواصل الاجتماعي</h5>
                        <div class="mb-3">
                            <label for="" class="form-label h-text-17 fw-bold">الأيميل:</label>
                            <input  type="email" required value="<%- data.email %>"  class="form-control form-control-sm h-text-15 rounded-pill" name="email"/>
                        </div>
                        <div class="mb-3">
                            <label for="" class="form-label h-text-17 fw-bold">رقم الواتساب:</label>
                            <input  type="text" maxlength="20" required value="<%- data.whatsapp  %>"  class="form-control form-control-sm h-text-15  rounded-pill" name="whatsapp" />
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</body>
</html>