<!DOCTYPE html>
<html lang="ar">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/all.min.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/notifications.css">
    <title>notifications</title>
</head>
<body>
    <main>
         <div class="">
            <div class="row position-relative">
                <div class="col-2 vh-100 position-sticky top-0 end-0 bg-light">
                    <%- include('../part/sidebar.ejs') %>
                </div>
                <div class="col-7">
                    <section class="p-2">
                        <h4 class="fw-bold">الدعوات</h4>
                        <hr>
                        <section id="notificationsInfo" class="mt-5">
                            <div class="container">
                                <% data.forEach((element,index) => { %>
                                   
                                    <% if (element.sender == undefined) { %>
                                         <div id="memberShip-msg" class="card p-3 mb-2">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <img src="/<%- element.foundation.avatar%>" class="img-fluid" alt="">
                                                <span class="h-bg-primary-light h-text-13 fw-bold mt-1 p-1 rounded-pill">طلب عضوية</span>
                                            </div>
                                            <p class="mt-2 h-text-16">
                                                <a href="/volunteer/foundation/<%- element.foundation._id %>" class="h-text-primary-dark text-decoration-none"><%- element.foundation.fullName %></a> تدعوك للأنضمام لتكون ضمن اعضائها المميزين هل تريد الأنضمام اليهم؟
                                            </p>
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div>
                                                    <button status="1" type="button" reqId="<%- element._id %>" foundId="<%- element.foundation._id %>"  class="btn memberbtn rounded-pill h-btn-primary h-text-15 px-3 h-bg-primary-dark text-white btn-sm">
                                                        إنضمام
                                                    </button>
                                                    <button type="button" status="2" reqId="<%- element._id %>" foundId="<%- element.foundation._id %>"  class="btn memberbtn text-dark rounded-pill  h-text-15 h-btn-primary-outline btn-sm">
                                                        رفض
                                                    </button>
                                                </div>
                                                <span class="text-secondary h-text-16 fw-semibold "><%-element.createdAt.toISOString().split("T")[0] %></span>
                                            </div>
                                        </div>
                                     
                                    <% } else { %>
                                         <div id="eventRequest-msg" class="card mb-2 p-3">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <img src="/<%- element.foundation.avatar %>" class="img-fluid" alt="">
                                                <span class="h-bg-primary-light h-text-13 fw-bold mt-1 p-1 rounded-pill">طلب الأنضمام لحدث</span>
                                            </div>
                                            <p class="mt-2 h-text-16">
                                                <a href="/volunteer/foundation/<%- element.foundation._id %>" class="h-text-primary-dark text-decoration-none"><%- element.foundation.fullName %></a> تدعوك للأنضمام لتكون ضمن اعضائها في حدث 
                                                <a  href="/volunteer/events/<%- element.event._id %>" class="h-text-primary-dark text-decoration-none"><%- element.event.title %></a>  هل تريد الأنضمام اليهم؟ 
                                            </p>
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div>
                                                    <button type="button"  status="1" reqId="<%- element._id %>" eventId="<%- element.event._id %>" class="btn eventBtn rounded-pill h-btn-primary h-text-15 px-3 h-bg-primary-dark text-white btn-sm">
                                                        إنضمام
                                                    </button>
                                                    <button type="button"  status="2" reqId="<%- element._id %>" eventId="<%- element.event._id %>" class="btn eventBtn text-dark rounded-pill h-text-15  h-btn-primary-outline btn-sm">
                                                        رفض
                                                    </button>
                                                </div>
                                                <span class="text-secondary h-text-16 fw-semibold "><%- element.createdAt.toISOString().split("T")[0] %></span>
                                            </div>
                                        </div> 
                                    <% } %>
                                 
                                <% }) %>

                            
                            </div>
                        </section>
                    </section>
                </div>
                <div class="col-3">
                    <div class="bg-light p-3">
                        <h5 class="fw-bold">
                            <i class="fa-solid fa-filter"></i>
                            فلترة
                        </h5>
                        <hr>
                        <div class="container">
                            <form class=""> 
                                <div class="mb-3">
                                    <label for="" class="form-label fw-bold h-text-17">
                                        <i class="fa-solid fa-calendar"></i>
                                        تاريخ
                                    </label>
                                    <input type="date" class="form-control rounded-pill form-control-sm" name="" id="" aria-describedby="helpId" placeholder="" />
                                </div> 
                                <div class="mb-3">
                                    <label for="" class="form-label fw-bold h-text-17">
                                        <i class="fa-solid fa-clipboard-list"></i>
                                        الحالة
                                    </label>
                                    <select class="form-select form-select-sm rounded-pill h-text-17" name="" id="">
                                        <option selected>الكل</option>
                                        <option value="">طلبات عضوية</option>
                                        <option value="">طلبات الانضام</option>
                                    </select>
                                </div>   
                            </form>
                        </div>
                    </div>
                </div>
            </div>
         </div>
    </main>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script>
        const eventBtn = document.querySelectorAll(".eventBtn");
        const memberbtn = document.querySelectorAll(".memberbtn");
        eventBtn.forEach(btn =>{
           btn.addEventListener("click",()=>{
            const status = btn.getAttribute("status");
            const reqId = btn.getAttribute("reqId");
            const eventId = btn.getAttribute("eventId");
            fetch("/volunteer/requests/actionToEvent",{
                method:"POST",
                headers:{
                    "Content-Type":"application/json",
                },
                body:JSON.stringify({
                    requestId:reqId,
                    status,
                    eventId
                })
            }).then(res=>{
                if(res.ok){
                    document.location.reload();
                }
            }).catch((e)=>alert(e));
           })
        })

        memberbtn.forEach(btn =>{
           btn.addEventListener("click",()=>{
            const status = btn.getAttribute("status");
            const reqId = btn.getAttribute("reqId");
            const foundId= btn.getAttribute("foundId");

            fetch("/volunteer/requests/actionToMembership",{
                method:"POST",
                headers:{
                    "Content-Type":"application/json",
                },
                body:JSON.stringify({
                    requestId:reqId,
                    status,
                    foundationId:foundId
                })
            }).then(res=>{
                if(res.ok){
                    document.location.reload();
                }
            }).catch((e)=>alert(e));
           })
        })

    </script>
</body>
</html>