<!DOCTYPE html>
<html lang="ar">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/all.min.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <title>حذف عضو</title>
</head>
<body>
    <main>
         <div class="">
            <div class="row position-relative">
                <div class="col-2 vh-100 position-sticky top-0 end-0 bg-light">
                    <%- include('../part/sidebar2.ejs') %>
                </div>
                <div class="col-7">
                    <section class="p-3">
                        <h4 class="fw-bold">إزاله عضوية</h4>
                        <hr>
                        <div class="alert alert-danger" role="alert">
                            <strong>إزاله عضو</strong>
                            هل تريد إزاله
                            <span><%- volunteer.fullName %></span>
                        </div>
                        <div class="card p-3 w-25 mb-3 d-flex flex-column align-items-center justify-content-center bg-light">
                            <img src="/<%- volunteer.avatar %>" class="rounded-pill " style="width: 100px; height: 100px;object-fit: cover;" alt="">
                            <p class="mt-3 fw-semibold"><%- volunteer.fullName %></p>
                        </div>
                        <button id="deleteBtn" userId="<%- volunteer._id %>" class="btn btn-sm btn-danger">
                            إزاله
                        </button>
                        <a href="/foundation/members" class="btn btn-sm btn-outline-dark">
                            رجوع
                        </a>
                   </section> 
                </div>
            </div>
         </div>
    </main>
    <script>
        const deleteBtn = document.getElementById("deleteBtn");
        deleteBtn.addEventListener("click",()=>{
            const id  =  deleteBtn.getAttribute("userId");
            console.log(id);
            fetch(`/foundation/members/${id}`,{
                method:"DELETE"
            }).then((res=>{
                if(res.ok){
                    document.location.assign("/foundation/members")
                }
            })).catch(err=>alert(err));
        })
    </script>
</body>
</html>