<!DOCTYPE html>
<html lang="ar">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/all.min.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <title>home</title>
</head>
<body>
    <main>
         <div class="">
            <div class="row position-relative">
                <div class="col-2 vh-100 position-sticky top-0 end-0 bg-light">
                    <%- include('../part/sidebar2.ejs') %>
                </div>
                <div class="col-7">
                    <a data-bs-toggle="modal" data-bs-target="#exampleModal" id="search-link" class="text-decoration-none">
                        <div class="mb-3 mt-4 d-flex justify-content-center align-items-center">
                            <div id="search-con" class=" d-flex  justify-content-start align-items-center">
                                <i class="fa-solid fa-magnifying-glass text-dark"></i>
                                <p class="m-0 p-1 text-muted">ابحث</p>
                            </div>
                        </div>
                    </a> 
                    <section class="p-3">
                        <% events.reverse().forEach(element => { %>
                            <a href="/foundation/events/<%- element._id %>" class="text-decoration-none text-dark ">
                                <div class="mb-4">
                                    <div class="d-flex align-items-center">
                                        <img src="/<%- element.foundationId.avatar %>" class="img-fluid rounded-pill" style="width: 60px; height: 60px; object-fit:cover;" alt="">
                                        <span class="h-text-17 me-2 fw-bold"><%- element.foundationId.fullName %></span>
                                    </div>
                                    <div class="mb-3 me-5 ">
                                        <h6 class="h-text-17 fw-bold mb-2"><%- element.title %></h6>
                                        <p class="h-text-17 m-0" >
                                            <%- element.description %>
                                        </p>
                                    </div>
                                    <img src="/<%- element.image %>" class="img-fluid rounded me-5" style="height: 200px; width: 90%; object-fit: fill;" alt="">
                                </div>
                            </a>
                        <% }) %>
                        <p class="text-center">
                            <a class="h-text-primary-dark" href="/foundation/events/allEvents">
                                عرض المزيد 
                            </a>
                        </p>
                        
                  
                    </section>
                   
                </div>
                <div class="col-3   vh-100 position-sticky top-0 satrt-0">
                    <section class="p-3 ">
                        <div class="mt-2 d-flex mb-3 align-items-center">
                            <img src="/img/success.png" width="50px" height="50px" alt="">
                            <p class="m-0 me-3 fw-bold">أفضل المتطوعين</p>
                        </div>
                        <div>
                             <% volunteers.forEach((element,index) => { %>
                                <% if(index == 0) { %>
                                    <a href="/foundation/volunteer/<%- element._id %>" class="text-dark  text-decoration-none">
                                        <div class=" row mb-1  align-items-center p-1" style="background-color: #36b336; border-top-right-radius:40px ;border-bottom-right-radius:40px ;">
                                            <div class="col-3 p-0  ">
                                                <img src="/<%- element.avatar %>" class="imag-fluid rounded-pill" style="width: 55px; height: 55px; object-fit: cover;" alt="">
                                            </div>
                                            <div class="col-5 p-0">
                                                <p class="h-text-15 fw-bold m-0"><%- element.username %></p>
                                            </div>
                                            <div class="col-2  p-0 ">
                                                <img src="/img/gold-cup.png" width="36px" height="36px" alt="">

                                            </div>
                                            <div class="col-1  p-0  m-0">
                                                <p class="h-text-15 m-0 fw-bold"><%- element.points  %></p>
                                            </div>
                                        </div>
                                    </a>
                                <% } else if(index == 1) { %>
                                    <a href="/foundation/volunteer/<%- element._id %>" class="text-dark  text-decoration-none">
                                        <div class=" row mb-1  align-items-center  p-1" style="background-color:#36b336c4;  border-top-right-radius:40px ;border-bottom-right-radius:40px ;">
                                            <div class="col-3 p-0">
                                                <img src="/<%- element.avatar %>" class="imag-fluid rounded-pill" style="width: 55px; height: 55px; object-fit: cover;" alt="">
                                            </div>
                                            <div class="col-5 p-0">
                                                <p class="h-text-15 fw-bold m-0"><%- element.username %></p>
                                            </div>
                                            <div class="col-2 p-0">
                                                <img src="/img/silver-cup.png" width="36px" height="36px" alt="">

                                            </div>
                                            <div class="col-1 p-0">
                                                <p class="h-text-15 m-0 fw-bold"><%- element.points  %></p>
                                            </div>
                                        </div>
                                    </a>
                                <% } else if(index == 2) { %>
                                    <a href="/foundation/volunteer/<%- element._id %>" class="text-dark  text-decoration-none">
                                        <div class=" row mb-1  align-items-center  p-1" style="background-color: #36b33680; border-top-right-radius:40px ;border-bottom-right-radius:40px ;">
                                            <div class="col-3 p-0">
                                                <img src="/<%- element.avatar %>" class="imag-fluid rounded-pill" style="width: 55px; height: 55px; object-fit: cover;" alt="">
                                            </div>
                                            <div class="col-5 p-0">
                                                <p class="h-text-15 fw-bold m-0"><%- element.username %></p>
                                            </div>
                                            <div class="col-2 p-0">
                                                <img src="/img/bronze-cup.png" width="36px" height="36px" alt="">

                                            </div>
                                            <div class="col-1 p-0">
                                                <p class="h-text-15 m-0 fw-bold"><%- element.points  %></p>
                                            </div>
                                        </div>
                                    </a>
                                <% } else { %>
                                    <a href="/foundation/volunteer/<%- element._id %>" class="text-dark  text-decoration-none">
                                        <div class=" row mb-1  align-items-center  p-1" style="background-color: #68ac682b;;  border-top-right-radius:40px ;border-bottom-right-radius:40px ;">
                                            <div class="col-3 p-0">
                                                <img src="/<%- element.avatar %>" class="imag-fluid rounded-pill" style="width: 55px; height: 55px; object-fit: cover;" alt="">
                                            </div>
                                            <div class="col-5 p-0">
                                                <p class="h-text-15 fw-bold m-0"><%- element.username %></p>
                                            </div> 
                                            <div class="col-2 p-0">
                                                <p class="h-text-15 m-0 pe-2 fw-bold"><%- index + 1 %></p>

                                            </div>
                                            <div class="col-1 p-0">
                                                <p class="h-text-15 m-0 fw-bold"><%- element.points  %></p>
                                            </div>
                                        </div>
                                    </a>
                                <% } %>
                             
                            <% }) %> 

                           


                        </div>
                    </section>
                    
                    
                </div>
            </div>
         </div>
    </main>
     <!-- Modal -->
     <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header align-items-center">
                <input id="userSearchInput" type="text" style="width: 383px;" name="" id="serchMember" class="form-control rounded-pill form-control-sm h-text-17" placeholder="بحث...." aria-describedby="helpId"/>
            <button  type="button" id="btn-close" class="btn-close ms-0" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="users-container">
                    
                </div>
            </div>
        </div>
        </div>
    </div>  
    
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script>
        const userSearchContainer = document.getElementById("users-container");
        const userSearchInput = document.getElementById("userSearchInput");
        const searchLink = document.getElementById("search-link");
        const btnClose = document.getElementById("btn-close");


        btnClose.addEventListener("click",()=>{
            userSearchContainer.innerHTML = "";
            userSearchInput.value = "";
        })

        searchLink.addEventListener("click",()=>{
            setTimeout(() => {
                userSearchInput.focus();
            }, 100);
        })

        userSearchInput.addEventListener("input",async()=>{
            userSearchContainer.innerHTML = "";
            const response = await fetch(`/foundation/search?username=${userSearchInput.value}`)
            const data = await response.json();
            data.users.forEach(element => {
                if(element.birthDate !== undefined){
                    const template = `
                    <div class="p-3 d-flex justify-content-between align-items-center mb-1">
                        <a href="/foundation/volunteer/${element._id}" class="text-decoration-none w-100">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="d-flex justify-content-between align-items-center">
                                    <img src="/${element.avatar}" style="width: 50px; height: 50px; object-fit: cover;" class="img-fluid rounded-pill" >
                                    <p class="fw-semibold m-0 me-3 text-dark">${element.username}</p>
                                </div>
                               
                                <p class="fw-semibold m-0 me-3 text-white rounded-pill p-1 px-3 h-bg-primary-dark" style="font-size:11px;">متطوع</p>
                            </div>
                        </a>
                    </div>`
                userSearchContainer.innerHTML +=template;

                }else{
                    const template = `
                    <div class="p-3 d-flex justify-content-between align-items-center mb-1">
                        <a href="/foundation/profile/${element._id}" class="text-decoration-none w-100">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="d-flex justify-content-between align-items-center">
                                    <img src="/${element.avatar}" style="width: 50px; height: 50px; object-fit: cover;" class="img-fluid rounded-pill" >
                                    <p class="fw-semibold m-0 me-3 text-dark">${element.username}</p>
                                </div>
                                <p class="fw-semibold m-0 me-3 text-white rounded-pill p-1 px-3 h-bg-primary-dark" style="font-size:11px;">مؤسسة</p>
                            </div>
                        </a>
                    </div>`
                userSearchContainer.innerHTML +=template;

                }
               
                
            });

            if(userSearchInput.value == "") userSearchContainer.innerHTML =""
           
        })
    </script>
</body>
</html>